<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="number" name="year" placeholder="What Year?"><br>
  <input type="text" name="network" placeholder="Network"><br>
  <input type="url" name="image" placeholder="Image URL"><br>
  <button type="submit">Give me another Cartoon!</button>
</form>
<a href="/">Go Home you silly rabbit!</a>
